<!-- Boton para cerrar -->
<div class="cerrar">
  <mat-icon (click)="onNoClick()">close</mat-icon>
</div>

<!-- IMAGENES EQUIPOS -->
<div class="teams">
  <div class="teamDetail">
    <img src="assets/img/{{data.teamDetail[4].teamId}}.png" alt="imagen del jugador">
    <span class="teamName">{{ data.teamDetail[4].teamName }}</span>
  </div>

  <span class="vs">VS</span>

  <div class="teamToCompare">
    <img src="assets/img/{{data.teamToCompare.teamId}}.png" alt="imagen del jugador">
    <span class="teamName">{{ data.teamToCompare.teamName }}</span>
  </div>
</div>

<!-- gráfico de barras para comparar las estadísticas globales de los equipos -->
<div class="title">Eficiencia por partido</div>
<div class="barChartContainer">
  <canvas id="barChartComparativeTeams"></canvas>
</div>

<!-- barras para ver la comparación de porcentajes entre los jugadores -->
<div class="porcentajes">
  <div class="titlePorcentajes">Porcentajes en tiros</div>
  <div class="tresPts">
    <div class="data">
      %3P
    </div>
    <div class="tresPtsGraphs">
      <div class="colorPercentagesBar">
        <div class="tresPtsTeam1"
          [style.width.%]="data.teamDetail[4].fg3Pct * 100"
          [style.backgroundColor]="'#df94a0'">
          {{ getRound(data.teamDetail[4].fg3Pct * 100) }}
        </div>
       </div>

       <div class="colorPercentagesBar">
        <div class="tresPtsTeam2"
          [style.width.%]="data.teamToCompare.fg3Pct * 100"
          [style.backgroundColor]="'#af6d78'">
          {{getRound(data.teamToCompare.fg3Pct * 100)}}
        </div>
       </div>
    </div>
  </div>

  <div class="tirosLibres">
    <div class="data">
      %TL
    </div>
    <div class="tirosLibresGraphs">
      <div class="colorPercentagesBar">
        <div class="tirosLibresTeam1"
          [style.width.%]="data.teamDetail[4].ftPct * 100"
          [style.backgroundColor]="'#df94a0'">
          {{getRound(data.teamDetail[4].ftPct * 100)}}
        </div>
       </div>

       <div class="colorPercentagesBar">
        <div class="tirosLibresTeam2"
          [style.width.%]="data.teamToCompare.ftPct * 100"
          [style.backgroundColor]="'#af6d78'">
          {{getRound(data.teamToCompare.ftPct * 100)}}
        </div>
       </div>
    </div>
  </div>

  <div class="dosPts">
    <div class="data">
      %2P
    </div>
    <div class="dosPtsGraphs">
      <div class="colorPercentagesBar">
        <div class="dosPtsTeam1"
          [style.width.%]="data.teamDetail[4].fgPct * 100"
          [style.backgroundColor]="'#df94a0'">
          {{getRound(data.teamDetail[4].fgPct * 100)}}
        </div>
       </div>

       <div class="colorPercentagesBar">
        <div class="dosPtsTeam2"
          [style.width.%]="data.teamToCompare.fgPct * 100"
          [style.backgroundColor]="'#af6d78'">
          {{getRound(data.teamToCompare.fgPct * 100)}}
        </div>
       </div>
    </div>
  </div>
</div>
