<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.example.demo.clasification.mapper.ClasificationRowMapper">
	<select id="getClasification" resultType="com.example.demo.clasification.model.ClasificationRow">
		SELECT * 
		FROM clasificationrow 
		WHERE league = #{league}
	</select>
</mapper>