.tableContainer{
  position: relative;
  width: 100%;
  margin: 0;
  height: 91%;
  top: 2.5%;

  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background: #efefef;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb{
    background: rgb(84, 172, 121);
    border-radius: 10px;
  }
}

.table{
  position: relative;
  top: 2%;
  margin-left: 2%;
  width: 95%;
  height: 100%;
  overflow: auto;

  .tableData{
    width: 100%;
    text-align: center;
  }
}

th{
  background-color: rgb(84, 172, 121);
}

td{
  background-color: azure;
}

td, th{
  border: solid;
  border-color: rgb(219, 149, 9);
  border-width: 2px;
  padding: 20px;
}
