<div class="tableContainer">
  <div class="table">
    <table class="tableData">
      <caption>Estadísticas equipos</caption>
      <thead>
        <tr>
          <th>Equipo</th>
          <th>PTS</th>
          <th>Minutos</th>
          <th>FGM</th>
          <th>FGA</th>
          <th>FG_PCT</th>
          <th>FG3M</th>
          <th>FG3A</th>
          <th>FG3_PCT</th>
          <th>FTM</th>
          <th>FTA</th>
          <th>FT_PCT</th>
          <th>OREB</th>
          <th>DREB</th>
          <th>REB</th>
          <th>AST</th>
          <th>TOV</th>
          <th>STL</th>
          <th>BLK</th>
          <th>BLKA</th>
          <th>PF</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of teamsStats">
          <td><button [routerLink]="['/teamDetail']" (click)="setTeamSelectedDetail(item.teamId)">
            <img src="assets/img/{{item.teamId}}.png" alt="teamIcon">
            {{ item.teamName }}
          </button></td>
          <td>{{ item.pts }}</td>
          <td>{{ item.min }}</td>
          <td>{{ item.fgm }}</td>
          <td>{{ item.fga }}</td>
          <td>{{ item.fgPct }}</td>
          <td>{{ item.fg3m }}</td>
          <td>{{ item.fg3a }}</td>
          <td>{{ item.fg3Pct }}</td>
          <td>{{ item.ftm }}</td>
          <td>{{ item.fta }}</td>
          <td>{{ item.ftPct }}</td>
          <td>{{ item.oreb }}</td>
          <td>{{ item.dreb }}</td>
          <td>{{ item.reb }}</td>
          <td>{{ item.ast }}</td>
          <td>{{ item.tov }}</td>
          <td>{{ item.stl }}</td>
          <td>{{ item.blk }}</td>
          <td>{{ item.blka }}</td>
          <td>{{ item.pf }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
