<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.example.demo.games.mapper.GamesStatsMapper">
	<select id="findAllGamesStats" resultType="com.example.demo.games.model.GameStats">
		SELECT * 
		FROM gamesstats
	</select>
	
	<select id="findAllGamesStatsByDate" resultType="com.example.demo.games.model.GameStats">
		SELECT * 
		FROM gamesstats
		WHERE game_date = #{date}
	</select>
	
	<select id="findPeriodsOfTeamInGame" resultType="com.example.demo.games.model.Periods">
		SELECT * 
		FROM periods
		WHERE game_id = #{game_id} and team_id = #{team_id};
	</select>
	
</mapper>