<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.example.demo.league.mapper.LeagueMapper">
	<select id="getLeague" resultType="com.example.demo.league.model.League">
		SELECT * 
		FROM league 
		WHERE leagueName = #{leagueName}
	</select>
</mapper>