<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.example.demo.players.mapper.PlayerStatsMapper">
	<select id="findAllPlayersStats" resultType="com.example.demo.players.model.PlayerStats">
		SELECT * 
		FROM playersstats
	</select>
	
	<select id="findPlayerStatsById" resultType="com.example.demo.players.model.PlayerStats">
		SELECT * 
		FROM playersstats
		WHERE playerId = #{playerId}
	</select>
	
	<select id="findAllPlayersInfo" resultType="com.example.demo.players.model.PlayerInfo">
		SELECT * 
		FROM playersinfo
		ORDER BY teamAbbrev
	</select>
	
	<select id="findPlayersInfoByTeamId" resultType="com.example.demo.players.model.PlayerInfo">
		SELECT * 
		FROM playersinfo
		WHERE teamId = #{teamId}
	</select>
</mapper>