<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.example.demo.teams.mapper.TeamStatsMapper">
	<select id="findAllTeamsStats" resultType="com.example.demo.teams.model.TeamStats">
		SELECT * 
		FROM teamsstats
	</select>
	
	<select id="findAllTeamsStatsFiveLastYears" resultType="com.example.demo.teams.model.TeamStatsByYear">
		SELECT * 
		FROM teamstatsyearbyyear
	</select>
</mapper>