@import "~@angular/material/prebuilt-themes/indigo-pink.css";

app-root{
  ::-webkit-scrollbar{
    width: 8px;
    background: rgb(216, 157, 157);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb{
    background: red;
    border-radius: 10px;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
