<div class="tarjeta">
  <div class="title">
    <img src="assets/img/{{team.teamId}}.png" alt="imagen del jugador">
    <button class="name" [routerLink]="['/teamDetail']" (click)="setTeamSelectedDetail(team.teamId)">
      {{team.teamName}}
    </button>
  </div>
  <div class="contenido">
    <button class="estadisticas" [routerLink]="['/teamDetail']" (click)="setTeamSelectedDetail(team.teamId)">
      Estadísticas
    </button>
    <button class="plantilla" [routerLink]="['/teamTemplate']" (click)="obtainTemplate(team.teamId)">
      Plantilla
    </button>
  </div>
</div>
