app-header{
  padding: 30px;
  background: skyblue;
  position: absolute;
  width: 100%;
  margin: 0;
  top: 0;
  text-align: center;
}

app-home{
  position: absolute;
  top: 93.7px;
  bottom: 93.7px;
  width: 100%;
  overflow: auto;
  margin: 0;
  background-color: antiquewhite;
}

app-footer{
  padding: 30px;
  background: skyblue;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0;
  text-align: center;
}

nav{
  position: relative;
  top: 93.7px;
}

ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;

  li{
    border-radius: 5px;
    width: 9%;
    text-align: center;
    background-color: rgb(71, 69, 69);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

a:link, a:visited, a:active {
  text-decoration:none;
  color: white;
}

.routerContainer{
  position: absolute;
  top: 133.7px;
  bottom: 93.7px;
  width: 100%;
  overflow: auto;
  margin: 0;
  background-color: antiquewhite;
}
