<!-- header -->
<app-header></app-header>

<!-- Barra de navegación -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a [routerLink]="['/home']" routerLinkActive="active">Inicio</a></li>
      <li><a [routerLink]="['/clasification']" routerLinkActive="active">Clasificación</a></li>
      <li><a [routerLink]="['/players']" routerLinkActive="active">Jugadores</a></li>
      <li><a [routerLink]="['/teams']" routerLinkActive="active">Equipos</a></li>
      <li><a [routerLink]="['/matchs']" routerLinkActive="active">Partidos</a></li>
    </ul>
  </div>
</nav>



<!-- contenido principal -->
<div class="routerContainer">
  <router-outlet></router-outlet>
</div>

<!-- footer -->
<app-footer></app-footer>
