<div class="inicio">
  <div class="contenidoFotograficoIzquierda">
    <img src="../../../../assets/img/nbaPanelLateral.png" alt="imagen NBA"/>
    <img src="../../../../assets/img/panelLateral2.png" alt="imagen NBA 2"/>
    <img src="../../../../assets/img/panelLateral3.png" alt="imagen NBA 3"/>
  </div>

  <div class="contenidoInicial">
    <h1>Professional Basketball Analitics</h1>

    <p>
      Bienvenido al sitio web en el que podrás consultar las estadísticas
      en diferentes ámbitos del baloncesto, desde la clasificación de la
      última temporada, hasta la actuación de jugadores y equipos en la misma.
    </p>

    <p>
      Podrás acceder también a un análisis más detallado de equipos, jugadores
      y partidos que han intervenido en la temporada de la NBA.
    </p>

    <p>
      El acceso a toda esta información se consigue a través de la barra de
      navegación que se encuentra en la parte superior de la pantalla. Actualmente
      te encuentras en el 'inicio', pero voy a explicarte la información que puedes
      visualizar en cada sección.
    </p>

    <p>
      En la sección de 'clasificación', como el propio nombre indica, podrás acceder
      a las posiciones de los equipos en la temporada 2022-2023, separando dicha
      clasificación en función de la conferencia este y oeste en que se dividen los equipos
      de la nba.
    </p>

    <p>
      El siguiente apartado es el de los 'jugadores' actualmente activos en la nba. En
      mi primera instancia verás un listado con todos ellos y sus estadísticas globales
      durante la temporada. Si presionamos sobre alguno de ellos accederás a un detalle
      más avanzado de las estadísticas del jugador seleccionado. Si quieres ver las estadísticas
      de uno concreto puedes buscar su nombre en el buscador presente en la parte superior
      izquierda.
    </p>

    <p>
      Lo mismo podrás hacer con los equipos en la sección 'equipos' y, por último, con los
      'partidos', pudiendo filtrar por fecha para ver los partidos jugados ese día y
      pudiendo acceder al detalle de estos, donde se comparan ambos equipos.
    </p>

    <p>¡Espero que la aplicación os sea útil!</p>

  </div>

  <div class="contenidoFotograficoDerecha">
    <img src="../../../../assets/img/panelLateral4.png" alt="imagen NBA 4"/>
    <img src="../../../../assets/img/panelLateral5.png" alt="imagen NBA 5"/>
    <img src="../../../../assets/img/panelLateral6.png" alt="imagen NBA 6"/>
  </div>

</div>


