<!-- <app-pages></app-pages>

<div class="tableContainer">
  <div class="table1">
    <table class="table1Data">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>V</th>
          <th>D</th>
          <th>P</th>
          <th>V%</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{ item.team }}</td>
          <td>{{ item.won }}</td>
          <td>{{ item.lost }}</td>
          <td>{{ item.played }}</td>
          <td>{{ item.won_pct }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->


