<!-- Menu desplegable -->
<div class="toggleButton">
  <button mat-flat-button [matMenuTriggerFor]="menu">Seleccione la liga</button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="changeLeague('NBA')">NBA</button>
    <button mat-menu-item (click)="changeLeague('ACB')">ACB</button>
  </mat-menu>
</div>

<!-- <div class="tableContainer">
  <div class="table1">
    <table class="table1Data">
      <caption>East clasification</caption>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>V</th>
          <th>D</th>
          <th>P</th>
          <th>V%</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of eastClasificationData">
          <td>{{ item.team }}</td>
          <td>{{ item.won }}</td>
          <td>{{ item.lost }}</td>
          <td>{{ item.played }}</td>
          <td>{{ item.wonPct }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table2">
    <table class="table1Data">
      <caption>West clasification</caption>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>V</th>
          <th>D</th>
          <th>P</th>
          <th>V%</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of westClasificationData">
          <td>{{ item.team }}</td>
          <td>{{ item.won }}</td>
          <td>{{ item.lost }}</td>
          <td>{{ item.played }}</td>
          <td>{{ item.wonPct }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
