.tableContainer{
  position: relative;
  width: 100%;
  margin: 0;
  height: 91%;
}

.table1{
  position: relative;
  top: 2%;
  margin-left: 5%;
  width: 90%;
  height: 50%;
  overflow: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 18px;
  flex-direction: column;
  color: white;
}

.toggleButton{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 18.5%;
}

.table1Data{
  position: relative;
  width: 70%;
  height: 50%;
}

caption{
  display: none;
}

th{
  background-color: rgb(71, 69, 69) ;
  font-weight: 500 !important;
}

td{
  background-color: rgb(107, 106, 106);
}

td, th{
  border: solid;
  border-color: rgb(201, 196, 196);
  border-width: 2px;
  padding: 20px;
}

.customTh{
  width: 100px !important;
}

button{
  font-size: 18px;
}

.conferencia{
  border: 1px solid black;
  margin-bottom: 10px;
  font-size: 24px;
  padding: 20px;
  color: white;
  background-color: rgb(71, 69, 69);
  border-radius: 5px;
}

img{
  width: 50px;
  height: 50px;
}

.noContent{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  width: 100%;
}
