<!-- gráfico de líneas para el progreso del equipo -->
<div class="title">Progreso 5 años</div>
<div class="lineChartContainer">
  <canvas id="lineChart"></canvas>
</div>

<!-- gráfico de barras para las asistencias -->
<div class="title">Asistencias, rebotes, bloqueos, robos y pérdidas</div>
<div class="barChartContainer">
  <canvas id="barChartAst"></canvas>
</div>

<!-- Barra para saber que año llegó o ganó la copa -->
<div class="colorPercentagesBar">
  <div class="element" *ngFor="let item of teamStatsByYear" [style.width.%]="100/5"
    [style.backgroundColor]="getColorByFinal(item)">
  </div>
</div>

<!-- gráficos tipo radar para comparar tiros realizados con tiros anotados -->
<div class="title">Porcentajes</div>
<div class="radarChartContainer">
  <canvas id="radarChart"></canvas>
</div>

<!-- gráfico de barras para las asistencias, rebotes, bloqueos, robos y perdidas -->
<div class="title">Actuación en PlayOff</div>
<div class="barChartContainer">
  <canvas id="barChartPlayOff"></canvas>
</div>

<div *ngIf="fourthYear.nbaFinalsAppearance === 'N/A'">No ha llegado a las finales</div>
<div *ngIf="fourthYear.nbaFinalsAppearance === 'FINALS APPEARANCE'">Bicampeón</div>
<div *ngIf="fourthYear.nbaFinalsAppearance === 'LEAGUE CHAMPION'">Campeón</div>

<!-- Buscador para filtrar por el equipo que quieres comparar -->
<input type="text" class="form-control" placeholder="Buscar equipo para comparar" name = "filterTeams"
  [(ngModel)]="filterTeams" (keydown)="setAllTeams()">
<div *ngIf="filterTeams.length > 0">
  <button *ngFor="let team of allTeams | filterTeam: filterTeams" (click)="openMenuDialog(team)">{{ team.teamName }}</button>
</div>

