<div class="graphicsContainer">
  <!-- gráfico de líneas para los puntos de cada equipo -->
  <div class="title">Puntos por cuartos</div>
  <div class="lineChartContainer">
    <canvas id="lineChart"></canvas>
  </div>

  <!-- gráfico de barras para las asistencias, rebotes, robos -->
  <div class="title">Asistencias, rebotes, robos, pérdidas, faltas, bloqueos</div>
  <div class="barChartContainer">
    <canvas id="barChart"></canvas>
  </div>

  <!-- gráficos tipo radar para comparar tiros realizados con tiros anotados -->
  <div class="title">Porcentajes</div>
  <div class="radarChartContainer">
    <canvas id="radarChart"></canvas>
  </div>
</div>
