<mat-form-field appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker"
         (dateInput)="dateEvent($event)" (dateChange)="dateEvent($event)">
  <mat-hint>M/D/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<div class="gamesContainer row">
  <div class="game col-3" *ngFor="let item of gamesStats">
    <div>
      <img src="assets/img/{{item[0].teamId}}.png" alt="firstTeamIcon">
      VS
      <img src="assets/img/{{item[1].teamId}}.png" alt="secondTeamIcon">
    </div>
    <div class="estadisticas">
      <button [routerLink]="['/matchDetail']"
              routerLinkActive="router-link-active"
              (click)="setMatchSelectedDetail(item)">Estadísticas</button>
    </div>
  </div>
</div>

