mat-form-field{
  background-color: white;
  border-radius: 5px;
  border: 2px solid;
  height: 90px;
}

.gamesContainer{
  display: flex;
  gap: 10px;
}

.game{
  margin-left: 2.5%;
  //width: 25%;
  border: 5px solid;
  padding: 15px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.estadisticas{
  text-align: center;
}
