<!-- Imagen del jugador -->
<img src="{{playerStats.urlPicture}}" alt="imagen del jugador">

<!-- gráfico de barras para la eficiencia del jugador -->
<div class="title">Eficiencia por partido</div>
<div class="barChartContainer">
  <canvas id="barChart"></canvas>
</div>

<!-- gráfico pie para el conjunto de estadísticas globales del jugador -->
<div class="title">Eficiencia por partido</div>
<div class="pieChartContainer">
  <canvas id="pieChart"></canvas>
</div>

<!-- gráfico radar para la comparación de tiros realizados y tiros anotados -->
<div class="title">Eficiencia por partido</div>
<div class="radarChartContainer">
  <canvas id="radarChart"></canvas>
</div>
