.colorPercentagesBar{
  width: 50px;
  height: 170px;
  background-color: rgb(107, 106, 106);
  display: flex;
  flex-direction: column-reverse;
  border-radius: 5px;

  .valoracionGraph{
    width: 100%;
    border-radius: 5px;
  }
}

.title{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 20px;
  gap: 70px;
  align-items: flex-end;

  .name{
    font-size: 30px;
    font-weight: 700;
  }
}

.valoracion{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.jugador{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.valueVal, .titleVal{
  font-size: 30px;
  font-weight: 700;
}

caption{
  display: none;
}

table{
  td, th{
    border: solid;
    border-color: rgb(201, 196, 196);
    border-width: 2px;
    padding: 20px;
  }
  th{
    background-color: rgb(71, 69, 69);
    font-weight: 500 !important;
  }
  td{
    background-color: rgb(107, 106, 106);
  }
  font-size: 18px;
  color: white;
}

.tables{
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 50px;
  justify-content: space-evenly;
}

.titleTable{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.infoTable{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graphs{
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 50px;
}

.graph{
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.titleGraph{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.barChartContainer, .pieChartContainer, .radarChartContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.leyenda{
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  background-color: rgb(71, 69, 69);
  border-radius: 10px;
  color: white;
  padding: 10px;
}

.circuloVerde{
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: green;
}

.circuloAmarillo{
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: yellow;
}

.circuloRojo{
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: red;
}

.circuloMorado{
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: purple;
}

.circuloRosa{
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: pink;
}

.verde, .amarillo, .rojo, .morado, .rosa{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.textoLeyenda{
  text-align: center;
  font-size: 16px;
}

.elementos{
  padding: 10px;
}

input{
  width: 370px;
  height: 50px;
  background-color: #036180;
  text-align: center;
}

input::placeholder{
  color: white;
  font-size: 25px;
}

.buscador{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  gap: 20px;
}

.playersToCompare{
  margin-left: 2%;
  margin-right: 2%;
  font-size: 18px;
}

button{
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgb(107, 106, 106);
  color: white;
  min-width: 125px;
}


